.search-detail{
  border-top: 1px solid #d1d1d1;
  margin-bottom: 40px;
  padding-top: 20px;
}
.search-detail h6{
  color: #000000;
  font-weight: 500;
  font-size: 18px;
}
.search-detail p{
  color: #2b2b2b;
  font-weight: 400;
  font-size: 16px;
}